*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0;
    padding: 0;
    background: url(bg.jpg);
    font-family: sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: courier;
    color: #f77322;

}

.menu {
    float: right;
}

.img {
    background-image: url(\profile\img\ine.jpg);
    background-color: #19ea57;
    background-size: cover;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: rgb(23, 189, 249);
    z-index: 1;
    border-bottom: 1px solid rgb(255, 147, 85);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

.main {
    width: 1135px;
    height: 400px;
    background-color: rgba(44, 201, 254, 0.566);
    margin: 50px;
    background-position: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.m2 {
    width: 1115px;
    height: 400px;
    background-color: rgba(44, 201, 254, 0.566);
    margin: 50px;
    background-position: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

nav ul li a {
    color:rgb(6, 1, 1);
    font-weight: bold;
    font-size: 25px;
    font-family: monospace;
    text-align: center;
    padding: 0px 22px 0px 22px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    color: #111112;
}

h3{
    text-align: center;
}

.style {
    text-align: center;
    font-size: 15px;
    margin: 0;
    color: #111112;
}

table {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: #ff934f;
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
   background-color: #feae7c;
}

.my{
    text-align: center;
    font-size: larger;
}